
.Input {
  font-family: monospace;
  color: white;
  background: black;
  border: 0;
  padding: 10px;
  width: 80%;
  font-size: larger;
}

.ButtonImg {
  background-color: unset;
  color: dodgerblue;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  list-style: none;
  border: 0;
  margin: 0;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
p {
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
}

.Col1 {
  width: 120px;
  background-color: darkslategray;
  vertical-align: top;
}
.Col2 {
  min-width: 5px;
  vertical-align: top;
}
td {
  word-break: break-word;
  padding: 5px;
}
td table {
  border: 1px solid darkslateblue;

}
td span.Supplement {
  color: green;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.IsByte:hover {
  color: coral;
}
.Cols2 {
  display: flex;
  width:100%;
}
.Cols2 div {
  flex-basis: 100%;
  padding: 20px;
}
